.bt__home{
    width: 100vw;
    height: 100vh;
}
.bt__home-content{
    padding: 60px 40px;
    width: 85%;
    margin: 0 auto;
    text-align: start;
}
.bt__home-content__sess{
    font-size: 25px;
    margin-top: 40px;
}
.bt__home-content__sess li{
    font-size: 20px;
    margin-top: 10px;
}
.bt__home-content__text{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.bt__home-content__text button{
    padding: 10px;
    background-color: greenyellow;
    border: none;
    height: 35px;
}
.bt__home-content h1{
    font-size: 50px;
}
.bt__home-content__btns{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.bt__home-content__btns button{
    color: black;
    padding: 12px;
    background-color: greenyellow;
    width: 200px;
    margin-top: 50px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}
@media screen and (max-width:650px) {
    .bt__home-content h1{
        font-size: 35px;
    }
    .bt__home-content__btns button{
        width: 140px;
    }
}
@media screen and (max-width:550px) {
    .bt__home-content{
        width: 100%;
    }
}    
@media screen and (max-width:400px) {
    .bt__home-content{
        padding: 60px 20px;
    }
    .bt__home-content__btns button{
        width: 110px;
        font-size: 12px;
    }
    .bt__home-content h1{
        font-size: 25px;
    }
    .bt__home-content__sess{
        font-size: 19px;
    }
    .bt__home-content__sess li{
        font-size: 16px;
    }
}