.bt__home{
    padding: 24px 40px;
    width: 85%;
    margin: 5vh auto;
    text-align: start;
}
.bt__home h1{
    font-size: 50px;
}
.bt__home-btns{
    display: flex;
    justify-content: space-between;
}
.bt__home-btns button{
    color: black;
    padding: 12px;
    background-color: greenyellow;
    width: 200px;
    margin-top: 50px;
    font-size: 15px;
    border: none;
}